<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="path" default=""/>
  <arg name="changeIdFrame" default="/talker/changes"/>
  <arg name="world_name" default="world"/>
  <arg name="mav_name" default="firefly"/>
  <arg name="resolution" default="0.08"/>
  <arg name="height_map" default="False"/>
  <arg name="max_range" default="8.0"/>
  <arg name="sensor_miss" default="0.4"/>
  <arg name="sensor_hit" default="0.7"/>
  <arg name="color_g" default="0"/> 	
	<!-- you can load an exisiting tree with <node ... args="tree.bt"> !-->
	<node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen" args="$(arg path)">
		<param name="resolution" value="$(arg resolution)" />
		<param name="frame_id" type="string" value="$(arg world_name)" />
		<param name="base_frame_id" type="string" value="world" />
		<param name="sensor_model/max_range" value="$(arg max_range)" />
		<param name="sensor_model/hit" value="$(arg sensor_hit)" />
		<param name="sensor_model/miss" value="$(arg sensor_miss)" />
		<param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR ./)" />
		<param name="height_map" value="true" />
		<param name="track_changes" value="false"/>
		<param name="filter_ground" value="true"/>
		<param name="listen_changes" value="false"/>
		<param name="topic_changes" value="/octomap_tracking_server/changeset" />
		<param name="color/g" value="1.0"/>
		<param name="color/r" value="0.1"/>
		<param name="color/b" value="1.0"/>
		<param name="color/a" value="1"/>
		<param name="sensor_model/min" value="0.12"/>
		<param name="sensor_model/max" value="0.97"/>
		<param name="publish_free_space" value="true" />
    <param name="change_id_frame" value="$(arg changeIdFrame)" />
    <param name="min_change_pub" value="0" />
		<remap from="cloud_in" to="/$(arg mav_name)/vi_sensor/camera_depth/depth/points" />
	</node>
</launch>
